.maintenance {
    background-image: url("maintenance.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

body,
html {
    height: 100%;
}