<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/order.css">
    <link rel="stylesheet" href="/static/bread.css">
</head>

<body>
    <div class="header">
        <h1>May I take your order?</h1>
    </div>
    <div class="wrapper">
        <div class="centered">
            <p style="text-align: center">
                <a href="/pizza">
                    Pizza
                </a>
            </p>
        </div>
        <div></div>
        <div class="centered">
            <p style="text-align: center">
                <a href="/bread">
                    Bread
                </a>
            </p>
        </div>
    </div>




</body>

</html>